body {
	padding-top: 0px;
	padding-bottom: 60px;
}

.tab {
	font-size: 0.8em;
	font-weight: bold;
}

.navbar-brand {
	font-weight: bold;
}

.glyphicon{
  margin-right: 10px;
}

a {
  word-wrap:break-word;
}