#schedule-wrap {
	padding-top: 70px;
}

#scheduleModal {
	padding-top: 70px;
}


#scheduleModal{
  top: 5%;
  left: 5%;  
  z-index: 1050;
  overflow-y: scroll;
  overflow-x: hidden;  
  width: 90%;
  height: 90%;
  
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999999;
  padding: 0px;

  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

#searchModal{
  top: 5%;
  left: 5%;  
  z-index: 1050;
  overflow-y: auto;
  overflow-x: hidden;  
  width: 90%;
  height: 90%;
  
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999999;
  padding: 0px;

  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

#alarmModal{
  top: 5%;
  left: 5%;  
  z-index: 1050;
  overflow-y: auto;
  overflow-x: hidden;  
  width: 90%;
  height: 90%;
  
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999999;
  padding: 0px;

  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

input[type="radio"] {
    display:inline-block;
}

.title {
  width: 70px;
  margin-right: 10px;
  padding-right:10px;
  text-align: center;
}
.userInput {
  width: auto;
  background-color: red;
}

table  {
  width: 100%;
}

.answer {
  width: 100%;
}

#surveyModal{
  top: 5%;
  left: 5%;  
  z-index: 1050;
  overflow-y: auto;
  overflow-x: hidden;  
  width: 90%;
  height: 90%;
  
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999999;
  padding: 0px;

  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

#hole-date {
  /*float : right;*/
  text-align:right;
  right: 5px;
}

#sbtn {
  margin-top: 13px;
  margin-right: 15px;
  float:right;
  width: 64px;
  height: 34px;
  border-color: #d56e00;
  background-color: rgba(0, 0, 0, 0.0);
}

#sbtn:hover {
  background-color: #d56e00;
}

#regionTitle {
  margin-left: 5px;
  width: 44px;
  height: 34px;
  margin-top: -10px;
  
  top: 30px;
  right: 15px;
  position: absolute;
}

#search-icon {
  top: 23px;

  right: 55px;
  position: absolute;
}
/*
#allbtn {
  background-color:lightskyblue;
}
#abtn {
  background-color:lightskyblue;
}
#mbtn {
  background-color:lightskyblue;
} 
#cbtn {
  background-color:lightskyblue;
}
*/

.btn-sm {
  background-color:lightgray;
  color:#2c3e50;
  margin-top:2px;
  margin-bottom:2px;
}

.btn-sm a {
  color:#2c3e50;
}

.btn-sm a:hover {
  color:white;
  text-decoration: none;
}


/* 라디오 버 */
.input-radio {
  padding:10px;
  margin:-10px;
  min-width:100%;
  min-height:100%;
}

.glyphicon-search {
  margin-right: 0px;
  margin-left: 0px;
}

.control {
  margin-left: 5px;
  margin-right: 5px;
}

#scheduleList {
  margin-top: 5px;
}

.modal .modal-body {
}
.modal .modal-header {
}
.modal .modal-footer {
	padding-top: 5px;
	padding-bottom: 5px;
}
