<div id="test-wrap">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand">테 스 트</a>
		</div>
	</div>
	

		<div class="list-group">

		
		 {{#testarea}} 
		
			<div class="test-item-wrap">
				<div class="test-title">
					{{age}}ssssdfs
				</div>
			</div>
			
			<div class="lecture">
			
			</div>		
		{{/testarea}}	
		
	</ul>	



</div>




